.full-body-container-landing {
    font-family: 'Poppins', sans-serif !important; 
    margin: 0;
    padding: 0;
    background-image: url('../../assets/user.png'); /* Replace with the actual path to your image */
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif; /* Set a font for better readability */
}
