.cardColor {
    border-color: black !important;
    border-width: 1px;
    width: 400px;
    height: 150px;
}

.title {
    display: inline;
    justify-content: flex-start;
   padding-left: 14px;
   padding-top: 10px;
}

.buttonColor {
    background-color: #D90368 !important;
    border-color: #D90368 !important;
    margin-top: -10px;
}