.tags {
    display: flex;
    justify-content: space-between;
  }

.input {
  margin-bottom: 3px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.buttonColorSubmit {
  background-color: #D90368 !important;
    border-color: #D90368 !important;
    margin-top: 10px;
}

.buttonColor {
  background-color: #D90368 !important;
    border-color: #D90368 !important;
}